
<h1 class="indexer-heading">{{translation.HOME_HEADING}}</h1>

<div class="indexer-body">
    <p>
        {{translation.HOME_P1}}
    </p>
    <p>
        {{translation.HOME_P2}}
    </p>
    <p>
        {{translation.HOME_P3}}
    </p>
    <p>
        {{translation.HOME_P4}}
    </p>

    <p>
        {{translation.HOME_TRY}}
    </p>
<a href="https://itunes.apple.com/us/app/indexer-lite-document-your/id823909258?mt=8" analytics-on analytics-event="Download" analytics-category="App" analytics-label="Appstore"><img src="images/appleBadge.svg"/></a>
<p></p>


</div>