
<h1 class="indexer-heading">{{translation.HOME_HEADING}}</h1>

<div class="indexer-body">
    <p>
    Indexer lets you put your stuff easily into your device.
    Take photographs with your camera and view them in a merry-go-round.
    </p>
    <p>
    Zoom into objects you like, then double-tap. Tag your stuff like faces on facebook.
    </p>
    <p>
    To look at each tag/keyword hold your finger on the tag.
    If you want, you can make your tag into a small or big item, or even a container.
    </p>
    <p>
    Send an email with a list of your stuff to whoever you like.
    </p>

    <p>
        Try the App for FREE today!
    </p>
<a href="https://itunes.apple.com/us/app/indexer-lite-document-your/id823909258?mt=8" analytics-on analytics-event="Download" analytics-category="App" analytics-label="Appstore"><img src="images/appleBadge.svg"/></a>
<p></p>


</div>